<!--
   _____       __    ___                   ______          __     ___
  / ___/__  __/ /_  / (_)___ ___  ___     /_  __/__  _  __/ /_   |__ \
  \__ \/ / / / __ \/ / / __ `__ \/ _ \     / / / _ \| |/_/ __/   __/ /
 ___/ / /_/ / /_/ / / / / / / / /  __/    / / /  __/>  </ /_    / __/
/____/\__,_/_.___/_/_/_/ /_/ /_/\___/    /_/  \___/_/|_|\__/   /____/
 -->

<!doctype html>
<html>
  <head>
    <meta charset="utf-8">

    <!-- Always force latest IE rendering engine or request Chrome Frame -->
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">

    <!-- Use title if it's in the page YAML frontmatter -->
    <title><%= data.page.title || "The Middleman" %></title>

    <!-- Facebook Insights -->
    <meta property="fb:admins" content="100003742510626" />

    <!-- Combine multiple fonts into one request -->
    <link href="http://fonts.googleapis.com/css?family=PT+Sans:regular,italic,bold,bolditalic|Patua+One|Yanone+Kaffeesatz" rel="stylesheet" type="text/css">
    <%= javascript_include_tag "http://code.jquery.com/jquery-1.9.1.min.js" %>
    <%= stylesheet_link_tag "all" %>
    <%= javascript_include_tag  "all" %>

    <script type="text/javascript">

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-16561083-20']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

    </script>
  </head>

  <body class="<%= page_classes %>">
    <header class="navbar navbar-static-top">
      <div class="navbar-inner">
        <div class="container">
          <hgroup>
            <a href="/" class="brand"><h1>Sublime Text 手冊</h1></a>
          </hgroup>
          <!-- end hgroup -->
        </div><!-- end .container -->
      </div><!-- end .navbar-innder -->
    </header>
    <!-- end header -->

    <div class="container" id="main">
      <div class="row">
        <div class="span4"><nav><%= partial "layouts/menu" %></nav></div>
        <div class="span8">
          <article>
            <header>
              <h1><%= data.page.title %></h1>
            </header>
            <div class="entry">
              <%= yield %>
            </div>
          </article>
        </div>
      </div><!-- end .row -->
    </div><!-- end .container -->
    <!-- end container -->

    <footer id="footer">
      <div class="container">
        <p class="pull-left">
          &copy; 2013 <a href="http://blog.chh.tw/about" target="_blank">CHH</a>.
        </p>
        <p class="pull-right">
          <a href="#">幫忙編輯此手冊</a>
        </p>
      </div>
    </footer>
  </body>
</html>
